
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .cfr-masonry {
    display: flex;
    max-width: 100%;
  }

  .cfr-masonry figure img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .cfr-masonry {
        flex-wrap: wrap;
    }

    .cfr-masonry figure {
        flex-grow:1;
        width: 25%;
        padding: 0px;
        margin: 25px;
    }

  }

  @media screen and (max-width: 749px) {
    .cfr-masonry {
        flex-flow: column nowrap;
    }
  }


{%- endstyle -%}

{%- liquid
    assign fetch_priority = 'auto'
    if section.index == 1
      assign fetch_priority = 'high'
    endif
    if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
      assign remove_color_classes = true
    endif
  -%}

<div class="section-{{section.id}}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class='page-width'>
        <div class='cfr-masonry'>
            {%- for block in section.blocks %}
                {%- case block.type -%}
                    {%- when "gallery_image" -%}
                        <figure>
                            {{ block.settings.image 
                                | image_url: width: 500
                                | image_tag:
                                widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                                sizes: sizes,
                                class: "masonry-image"  
                            }}
                            <figcaption>{{ block.settings.image_caption }}</figcaption>
                        </figure>
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</div>

{%- schema -%}
{
    "name": "Image Gallery",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "type": "gallery_image",
            "name": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "image selector"
                },
                {
                    "type": "text",
                    "id": "image_caption",
                    "label": "image caption",
                    "default": "Add a tagline"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Gallery",
            "blocks": [
                {"type": "gallery_image"}
            ]
        }
    ]
}
{%- endschema %}